<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../style/style.css" />
  <title>Projet Loic Dimitri</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script src="../../../MeavillaSpecialScript.js"></script>
  <script src="../script/final.js" defer></script>
</head>

<body>
  <header>
    <div><h1>JobBoard</h1></div>
    <div id="user">
    </div>
    <div id="link">
    </div>
    <div id="logSignIn">
      <a href="./connection.html?index=1">Login</a> | <a href="./connection.html?index=0">Sign up</a>
    </div>
  </header>
  <main>
    <section class="annoncesContainer">
    </section>
    <aside id="aside" class="container">
     <!-- JAVASCRIPT -->
    </aside>
    <section id="modalApply">
      <div  style="background-color: white" id="recapAnnonce" class="connection container">

      </div>
      <form class="connection container" id="applyForm" style="background-color: white">
        <p class="closeModal" id="closeModalApply">x</p>

        <span>
          <label for="firstNameInscription"> Firstname : </label>
          <input type="text" name="firstName" id="firstNameInscription" required>
        </span>
        <span>
          <label for="lastNameInscription"> Lastname : </label>
          <input type="text" name="lastName" id="lastNameInscription" required>
        </span>
        <span>
          <label for="emailInscription">Email : </label>
          <input type="email" name="mail" id="emailInscription" required>
        </span>
        <span>
          <label for="telInscription">Phone : </label>
          <input type="tel" name="tel" id="telInscription" required>
        </span>
        <span>
          <label for="passwordInscription">Password : </label>
          <input type="password" name="password" id="passwordInscription" required>
        </span>
        <label for="roleInscription">Vous êtes ici pour : </label>
        <select name="role" id="roleInscription">
          <option value="0">Postuler à des annonces</option>
          <option value="1" disabled>Poster des annonces</option>
        </select>
        <label for="message">Message : </label>
        <textarea name="message" id="message" cols="30" rows="10" required></textarea>
        <input type="submit" value="Submit">
      </form>
    </section>
    <section id="bgModal">
      
    </section>
  </main>
  <footer class="footer-distributed">
    <div id="content-footer">
    <div class="linkedin-footer">
      <a href="https://www.linkedin.com/in/de-fressine-loic-98abb7186/"><i class="icon-linkedin-sign"> Loïc Defressine</i></a>
      <a href="https://www.linkedin.com/in/dimitri-meavilla-62893b234/"><i class="icon-linkedin-sign"> Dimitri Meavilla</i></a>
    </div>

    <div class="footer-left">
      
      <p class="footer-links">
        <a class="link-1" href="#">Home</a>
        
        <a href="#">Blog</a>
        
        <a href="#">About</a>
        
        <a href="#">Faq</a>
        
        <a href="#">Contact</a>
      </p>
      
      <p>Create by Dimitri & Loïc &copy; 2022</p>
    </div>
    
    <div class="footer-right">
      <a href=""><i class="icon-facebook-sign"></i></a>
      <a href=""><i class="icon-twitter-sign"></i></a>
      <a href="https://github.com/EpitechMscProPromo2025/T-WEB-501-NCE-5-1-jobboard-loic.defressine"><i class="icon-github-sign"></i></i></a>
      
    </div>
    
  </div>
  </footer>
</body>

</html>